atari-py==0.1.7
gym==0.12.1
gym-super-mario-bros==7.2.1
matplotlib==2.1.0
numpy==1.16.3
opencv-contrib-python==3.4.3.18
opencv-python==3.4.3.18
Pillow==8.3.2
tensorboard==1.13.1
tensorboardX==1.6
torch==1.0.1.post2
torchvision==0.2.1
tqdm==4.25.0